body {
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0px 60px 0px;
}

#atletas:hover {
    text-shadow: 0 0 3px #FFE205, 0 0 7px #FFE205, 0 0 20px #EDD205;color:#FFE205;
    transition:0.5s
}

#competicoes:hover {
    text-shadow: 0 0 3px #E2DDDD, 0 0 7px #E2DDDD, 0 0 20px #E2DDDD;color:#E2DDDD;
    transition:0.5s
}

#paises:hover {
    text-shadow: 0 0 3px #F24C4C, 0 0 7px #F24C4C, 0 0 20px #F24C4C;color:#F24C4C;
    transition:0.5s
}

#jogos:hover {
    text-shadow: 0 0 3px #5FC77C, 0 0 7px #5FC77C, 0 0 20px #5FC77C;color:#5FC77C;
    transition:0.5s
}

#modalidades:hover {
    text-shadow: 0 0 3px #4c5cb7, 0 0 7px #4c5cb7, 0 0 20px #4c5cb7;color:#4c5cb7;
    transition:0.5s
}

#perguntas:hover {
    text-shadow: 0 0 3px #E2DDDD, 0 0 7px #E2DDDD, 0 0 20px #E2DDDD;color:#E2DDDD;
    transition:0.5s
}

#favoritos:hover {
    text-shadow: 0 0 3px #F24C4C, 0 0 7px #F24C4C, 0 0 20px #F24C4C;color:#F24C4C;
    transition:0.5s
}

#estatisticas:hover {
    text-shadow: 0 0 3px #ECA4EA, 0 0 7px #ECA4EA, 0 0 20px #ECA4EA;color:#ECA4EA;
    transition:0.5s
}

.margin-left {
    margin-left: 20px !important;
    margin-bottom: 5px;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}

.custom {
    width: 78px !important;
}
.text11--para {
    color: #90e0ef;
    text-shadow: 1px 1px 2px #2a9d8f;
    transition: text-shadow 300ms ease-out;
}

 .text11--para:hover {
        color: #000;
        text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 8px #48cae4, 0 0 10px #48cae4, 0 0 14px #00b4d8, 0 0 20px #00b4d8, 0 0 30px #0096c7, 0 0 40px #0096c7, 0 0 60px #0096c7;
    }
.facebook, .twitter, .youtube, .linkedin, .google, .instagram {
    color: dimgrey;
    filter: drop-shadow(1px 2px 1px black);
    margin: 5px;   
}




.third {
    width: auto;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}
.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.third:hover, .third:focus {
    color: #fff;
    outline: 0;
}


#divisor {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0em;
    padding: 2em 0;
  }
  #divisor:after, #divisor:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 50%;
    left: 0;
  }
  #divisor:before {
    background: linear-gradient(90deg, #10111f 0%, #10111f 50%, transparent 50%, transparent 100%);
    background-size: 15px;
    background-position: center;
    z-index: 1;
  }
  #divisor:after {
    transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
    background: linear-gradient(to right, #62efab 5%, #f2ea7d 15%, #f2ea7d 25%, #ff8797 35%, #ff8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
    background-size: 200%;
    background-position: 0%;
    -webkit-animation: bar 15s linear infinite;
            animation: bar 15s linear infinite;
  }
